workdir/back-end/Godeps/_workspace/
workdir/back-end/back-end

workdir/front-end/.sass-cache
workdir/front-end/.tmp
workdir/front-end/dist
workdir/front-end/bower_components
workdir/front-end/node_modules
workdir/front-end/src/assets/app.js
workdir/front-end/src/css
